<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
    body
        form(method="post" action="/user/create")
            input(name = "firstName" placeholder="firstname")
            input(name = "email" placeholder="Email Address")
            input(name = "age" placeholder="Age")
            input(type="submit")

       
